body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
