body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f2f2f2; /* Fondo suave */
    color: #333; /* Texto oscuro */
}

.container {
    width: 350px; /* Aumenta el tamaño de la pestaña */
    margin: auto;
    padding: 30px; /* Aumenta el espacio interno */
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #006f95; /* Azul */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #005b7f; /* Hover azul más oscuro */
}

.back-button {
    position: absolute;
    top: -4px;
    left: -40px; /* Ajustado para que esté más cerca de la esquina */
    background: none;
    border: none;
    font-size: 20px; /* Un poco más grande para que sea más visible */
    cursor: pointer;
    color: #007bff; /* Color azul más suave */
    transition: color 0.3s ease; /* Transición suave */
}

.back-button:hover {
    color: #0056b3; /* Azul más oscuro cuando pasas el cursor */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd; /* Borde suave */
    text-align: left;
}

th {
    background-color: #006f95; /* Azul */
    color: #fff;
}

td button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

td button:hover {
    background-color: #45a049; /* Hover verde más oscuro */
}
